%h1
  Witamy w aplikacji eSensei
%p 
  Tu poznasz podstawy języka japońskiego.
    
%p
  =link_to 'Tematy', topics_path,  class: 'btn btn-default'
  =link_to 'Znaki', signs_path,  class: 'btn btn-default'
