%nav.navbar.navbar-default
  %div.container-fluid
    %div.navbar-header
      %span.navbar-brand 
        eSensei - e先生
    %ul.nav.navbar-nav.navbar-right
      %li  
        =link_to root_path do
          %span.glyphicon.glyphicon-home
          %b Home
      %li  
        =link_to static_pages_about_path do
          %span.glyphicon.glyphicon-paperclip
          %b O stronie